
.vud-widget-elearning_widget {
  margin: 5px 10px;
  position: relative;
  float: left;
}

.vud-widget-elearning_widget .current-default,
.vud-widget-elearning_widget .current-negative {
  clear: both;
  color: #555555;
  font-size: 22px;
}

.vud-widget-elearning_widget .current-negative {
  padding: 7px 3px;
}

.vud-widget-elearning_widget .current-default {
  padding: 7px 7px;
}
.vud-widget-elearning_widget a.vud-link-up span,
.vud-widget-elearning_widget a.vud-link-down span {
  text-decoration: none;
  margin-right: 7px;
}

.vud-widget-elearning_widget .up-score .up-current-score,
.vud-widget-elearning_widget .down-score .down-current-score {
  display: block;
  font-size: 16px;
  margin-left: 25px;
  text-align: right;
  padding-top: 2px;
}

.vud-widget-elearning_widget .up-score {
  color: #333;
}
.vud-widget-elearning_widget .down-score {
  color: #333;
}

.vud-widget-elearning_widget .up-active,
.vud-widget-elearning_widget .down-active {
  cursor: default;
}
.vud-widget-elearning_widget .up-inactive,
.vud-widget-elearning_widget .down-inactive,
.vud-widget-elearning_widget .up-active,
.vud-widget-elearning_widget .down-active {
  float: left;
  display: block;
  width: 26px;
  height: 13px;
  font-weight: bold;
  text-align: center;
  background: url(../../images/arrows.png) 0 0 no-repeat;
}

.vud-widget-elearning_widget .up-active {
  background-position: 0px -42px;
}
.vud-widget-elearning_widget .down-active {
  background-position: 0px -14px;
}
.vud-widget-elearning_widget .up-inactive {
  background-position: 0px -28px;
}
.vud-widget-elearning_widget .down-inactive {
  background-position: 0px 0px;
}
.vud-widget-elearning_widget .up-inactive:hover {
  background-position: 0px -42px;
}
.vud-widget-elearning_widget .down-inactive:hover {
  background-position: 0px -14px;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
