
#zone-branding #region-branding .branding-data img {
  max-height: 54px;
  max-width: 291px;
}

#zone-branding #region-branding .branding-data .logo-img {
  position: relative;
  margin-left: -30px;
  top: 2px;
  z-index: 1;
  height: 40px;
  width: 291px;
  -moz-box-shadow: 0px 1px 8px 2px #582020;
  -webkit-box-shadow: 0px 1px 8px 2px #582020;
  box-shadow: 0px 1px 8px 2px #582020;
}

.node-course .node-course-header .social-share,
.modal-content .login-form .login-form-fb-submit {
  display: none;
}
