/* CSS for Course Certificate PDF page */

.certificate-wrapper {
  width: 95%;
  margin: 0 auto;
}

.certificate-title {
  font: bold 60pt myriadpro;
  color: #d0471b;
  margin: 85px 0px 120px 0px;
  text-align: center;
}

.certificate-registered {
  font: normal 40pt myriadpro;
  vertical-align: text-top;
  margin-left: -25px;
}

.certificate-body {
  text-align: center;
  font: bold 12px Helvetica;
  margin-bottom: 148px;
}

.certificate-desc {
  border-bottom: 1px solid #cacaca;
  line-height: 0px;
}

.certificate-desc .desc-text {
  background-color: #fff;
  display: inline;
  padding: 0px 5px;
  position: relative;
  top: 5px;
}

.certificate-course-info {
  color: #d0471b;
  font-size: 24px;
}

.certificate-course-info .inner-text {
  padding: 52px;
}

.certificate-course-info.certificate-grade .grade-name {
  padding: 52px 0px 32px 0px;
}

.certificate-bottom {
  list-style: none;
}

.certificate-bottom li {
  display: inline;
}

.certificate-signature {
  list-style: none;
  display: inline;
}

.certificate-signature-wrapper {
  margin-left: 26px;
  border-bottom: solid 1px #cacaca;
}

.certificate-teacher-name {
  font: bold 13px Helvetica;
  padding-right: 20px;
  /*border-bottom: solid 1px #cacaca;*/
}

.certificate-teacher-signature img {
  vertical-align: text-bottom;
  /*border-bottom: solid 1px #cacaca;*/
}
