/* CSS for Course Certificate PDF page */

body {
  font-family: "DejaVu Sans", sans-serif;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}
/* Using font "Myriad Pro" as locally installed */
.title {
  font: bold 60pt Myriad Pro;
  color: #d0471b;
  margin: 85px 0px 120px 0px;
  text-align: center;
}

.registered {
  font: normal 50pt Myriad Pro;
  vertical-align: text-top;
  margin-left: -25px;
  position: relative;
  top: -5px;
}

.body {
  text-align: center;
  font: bold 12px Helvetica;
  margin-bottom: 148px;
}

.desc {
  border-bottom: 1px solid #cacaca;
  line-height: 0px;
}

.desc .desc-text {
  background-color: #fff;
  display: inline;
  padding: 0px 5px;
  position: relative;
  top: 5px;
}

.info {
  color: #d0471b;
  font-size: 24px;
}

.info .inner-text {
  padding: 52px;
}

.info.grade .grade-name {
  padding: 52px 0px 32px 0px;
}

.bottom {
  list-style: none;
}

.bottom li {
  display: inline;
}

.signature {
  padding: 0;
  list-style: none;
  display: inline;
}

.signature-wrapper {
  position: relative;
  bottom: 25px;
  margin-left: 26px;
  padding-bottom: 5px;
  border-bottom: solid 1px #cacaca;
}

.teacher-name {
  font: bold 13px Helvetica;
  padding-right: 20px;
}
