/**
 * @file
 * Contains less css for course outline
 */

.block-course-outline .menu {
    width: 100%;
    .menu {
      padding: 0;
      margin-top: 5px;
      border-radius: 0;
      .show(inline-block);
      .class-progress-image();
      .class-progress-parameters(1px, 100%, 97%, 0%, 100%, 0%, no-repeat);
    }
}

/* Unit panels */

.outline-unit {
  .bold(16px);
  margin-bottom: 0;
  background: #f0f0f0;
  border-color: #e5e1e2;
  border-width: 1px 1px 0px;
  border-style: solid;
  padding: 10px;
  cursor: pointer;
  clear: both;
  .text-dark-grey();
  .icon {
    .bg-img("arrow_down.png");
    padding: 12px 8px;
    float: right;
  }
  &:hover {
    .text-orange;
    .icon {
       .bg-img('arrow_down_hover.png');
    }
  }
}

.outline-unit.last,
.outline-unit.active {
  border-width: 1px;
  box-shadow: 0px 1px 1px #EEEEEE;
  .icon {
    .bg-img('arrow_up.png');
  }
  &:hover {
    .icon {
      .bg-img('arrow_up_hover.png');
    }
  }
}

/* Course items */

.outline-quiz-icon, 
.outline-open-question-icon {
  .bg-img('question_mark.png');
  padding: 0 8px;
}

.outline-lesson-prefix {
   .text-orange();
   padding: 0 5px 0 0;
}

.outline-item {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-image: none;
  float: left;
  width: 100%;
  a {
    .border-bottom-dotted();
    text-decoration: none;
    float: left;
    clear: both;
    .font-bold;
    width: 95%;
    color: #000000;
    .title-wrapper {
      padding: 10px;
      .text-dark-grey(); 
   }
   &:hover {
     background: #fff0d9;
   }
  }
  a.active {
    background: #fff0d9;
  }
}

.outline-item-is-current {
  .class-progress-current() !important;
   @media @mobile {
     .class-progress-parameters(3%, 100%, 100%, 65%, 100%, 0%, no-repeat) !important;
   }
   @media @narrow {
     .class-progress-parameters(6px, 9px, 100%, 65%, 100%, 0%, repeat-y) !important;
   }
   @media @normal {
     .class-progress-parameters(7px, 9px, 100%, 65%, 100%, 0%, repeat-y) !important;
   }
   @media @wide {
     .class-progress-parameters(9px, 9px, 100%, 65%, 100%, 0%, repeat-y) !important;
   }
}

.outline-item-is-complete {
  .class-progress-complete();
  @media @mobile {
    .class-progress-parameters(3%, 100%, 100%, 0%, 100%, 0%, no-repeat) !important;
  }
  @media @narrow {
    .class-progress-parameters(6px, 100%, 100%, 0%, 100%, 0%, no-repeat) !important;
  }
  @media @normal {
    .class-progress-parameters(7px, 100%, 100%, 0%, 100%, 0%, no-repeat) !important;
  }
  @media @wide {
    .class-progress-parameters(9px, 100%, 100%, 0%, 100%, 0%, no-repeat) !important;
  }
}

.outline-item.first {
  .class-progress-image();
  @media @mobile {
    .class-progress-parameters(3%, 3%, 100%, 0%, 100%, 0%, no-repeat);
  }
  @media @narrow {
    .class-progress-parameters(6px, 3%, 100%, 0%, 100%, 0%, no-repeat);
  }
  @media @normal {
    .class-progress-parameters(7px, 3%, 100%, 0%, 100%, 0%, no-repeat);
  }
  @media @wide {
    .class-progress-parameters(9px, 3%, 100%, 0%, 100%, 0%, no-repeat);
  }
}

.outline-item.last {
  .class-progress-image();
  @media @mobile {
    .class-progress-parameters(3%, 3%, 100%, 100%, 100%, 100%, no-repeat);
  }
  @media @narrow {
    .class-progress-parameters(6px, 3%, 100%, 100%, 100%, 100%, no-repeat);
  }
  @media @normal {
    .class-progress-parameters(6px, 3%, 100%, 100%, 100%, 100%, no-repeat);
  }
  @media @wide {
    .class-progress-parameters(9px, 3%, 100%, 100%, 100%, 100%, no-repeat);
  }
  a {
   border: medium none;
  }
}

/* Course Certificate section */
.outline-certificate-circles {
  margin: 5px auto;
  height: 8px;
}

.circles-inner {
  margin: 0 auto;
  .show(table);
}

.outline-circle {
  .left();
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #f6f6f6;
  border: 1px solid #e4e1e1;
}

.outline-circle.middle {
  margin: 0 5px;
}

.outline-certificate-border {
  height: 4px;
  width: 100%;
  background-color: #f6f6f6;
  .RoundedShape(2px); 
  border: 1px solid #e4e1e1;
}

.outline-certificate {
  background-color: #f7f7f7;
  .bold(14px);
}

.outline-certificate-points {
  position: relative;
  border-bottom: 1px dotted #cccccc;
  color: #444444;
  padding: 11px 11px 11px 11px;
}

.outline-certificate-text {
  border-bottom: 1px dotted #444444;
  cursor: pointer;
}

.outline-certificate-star {
  width: 20px;
  height: 18px;
  margin-right: 10px;
  .left();
  .bg-img('cert-star.png');
}

.outline-certificate-doc {
  width: 17px;
  height: 19px;
  margin-right: 11px;
  .left();
  .bg-img('cert-download.png');
}

.outline-certificate-link {
  padding: 11px;
  a:link, a:visited {
    color: #d0471b;
    .link();
  }
}

.certificate-disabled {
  .outline-certificate-doc {
    background-position: -18px 0px;
  }
}

.certificate-disabled-text {
   color: #cacaca;
   cursor: text;
}

.tooltip-wrapper {
  background-color: #fff;
  position: absolute;
  .show(none);
  .tooltip();
}

.tooltip-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
}

.tooltip-content {
  .bold(14px);
}

.tooltip-header {
    background-color: #585858;
    color: #fff;
    padding: 12px;
    border: 1px solid #fff;
    text-align: center;
}

.course-outline-grades-list {
  margin: 0;
  padding: 0;
  li {
    .list-item();
    color: #444444;
    margin: 0 10px;
    padding: 15px 10px 13px 0px;
    border-bottom: 1px dotted #cccccc;
    width: 91%;
  }
  .last {
    border: none;
  }
}

.grade-points-range {
  color: #d0471b;
  padding-left: 10px;
  text-align: left;
  vertical-align: middle;
  .show(table-cell);
  @media @narrow {
    width: 70px;
  }
  @media @normal {
    width: 100px;
  }
  @media @wide {
    width: 115px;
  }
}

.grade-points-desc {
  .show(table-cell);
  vertical-align: middle;
}