

.section-content {
  width: 1240px;
}

body.page-home .region-content-inner {
   margin-left: 78px;
}

#block-views-front-page-slider-block {
  margin: 0 auto;
}

.view-home-page-courses {
  width: 1030px;
}

.view-user-teaches-courses,
.view-user-courses {
  clear: none;
  float: right;
  width: 655px;
}
