/**
 * @file
 * contains reusable less css for forms
 */

@color-button-disabled: #f1f1f1;

.button() {
  border: 0;
  height: 35px;
  margin-top: 2px;
  padding: 0px 20px;
  float: right;
  position: relative;
  color: white;
  font-style: normal;
  font-size: 15px/1.2;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  text-shadow: 0 0 transparent;
  text-decoration: none;
  .RoundedShape(3px);
}

.button-submit() {
  .button();
  .gradient-submit-button();
  border: 1px solid #f54900;
  &:hover {
    .border-sumbit-hover();
    .gradient-submit-button-hover();
  }
}

.fieldset-wrapper {
  background: #f7f7f7;
  padding: 1px 10px;
  .grippie {
    display: none;
  }
}

.form-submit[disabled] {
  color: #ababab;
  border: 1px solid @color-button-disabled;
  .gradient-disabled();
  float: right;
}

.form-submit[disabled],
.form-submit[disabled]:hover {
  color: #ababab;
  border: 1px solid @color-button-disabled;
  .gradient-disabled();
}

.action-cancel() {
  float: right;
  line-height: 35px;
  color: #d0471b;
  text-decoration: none;
  .bold(13px);
  background: none;
  border: 0;
  &:hover {
    .text-orange();
  }
}

.form-submit {
  .button-submit();
}

.button-cancel() {
  .action-cancel();   
}

.link-cancel() {
  padding: 0 10px;
  float: right;
  margin-right:10px;
  vertical-align: middle;
  a {
    .action-cancel();
    line-height: 35px;
  }
}

.form-text {
  width: 100%;
}

/* css for buttons that are represented by small icons */
.button-icon(@size: 15px) {
  button();
  color: transparent;
  padding: 0;
  border: none;
  height: @size;
  width: @size;
}

.form-actions input {
  margin-right: 0.5em;
}


label {
  font-weight: bold;
}

/** Css for select menu **/

.ui-selectmenu-menu ul,
.ui-selectmenu {
  &,
  &:link,
  &:visited {
    border-radius: 0;
    .box-shadow();
    border: 0;
    background: #fff;
    .bold(14px);
    .link();
    color: #505050;
    width: 350px !important;
    padding: 5px 0;
  }
}

.ui-selectmenu-menu li a {
  color: #505050;
  font-weight: bold;
}

.ui-selectmenu-menu li {
  border: 0;
}

.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus {
  background: #ffeca8;
  border: 0;
}

