/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

@import "mixins.less";
@import "grid-16.less";
@import "form.less";
@import "course-outline.less";
@import "quicktabs.less";
@import "modal.less";
@import "tooltip.less";
@import "front.less";
@import "calendar.less";

/****** Common properties Start ******/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#page {
  height: auto !important;
  min-height: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 66px;
}

body {
  .font();
}

p {
  font-size: 14px;
}
h1 {
  .font();
  font-size: 25px;
}

h2 {
  .font();
  font-size: 18px;
  color: #333333;
}

.section-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 100%;
    padding-bottom: 20px;
}

.section-header {
  .gradient-main-panel();
  border-top: #9e2600 @border-1;
  border-bottom: #9e2600 @border-1;
  height: 45px;
  @media @mobile { 
    height: auto;
  }   
}

#region-branding {
  .branding-data {
    .left();
    .logo-img a {
      height: 45px;
      .show(table-cell);
      vertical-align: middle;
    }
    img {
      max-height: 40px;
      max-width: 180px;
    }
  }
}

.block-user-notifications-count {
  .left();
  margin-left: 26px;
  .content {
    width: 52px;
    height: 45px;
    .bg-img('userpoints-circle.png');
    background-position: center;
    a {
      .bold(14px);
      .link();
      .left();
      color: white;
      width: 46px;
      height: 45px;
      line-height: 45px;
      text-align: center;
    }
    a.link-font-small {
      font-size: 12px;
    }
    .newsfeed-link-border {
      .left();
      .bg-img('line-main-menu.png');
      background-repeat: repeat;
      width: 3px;
      height: 45px;
    }
  }
}

.user-menu-userpoints {
  .bg-img('user-crown.png');
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 11px;
  margin-left: 2px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  margin: 10px auto;
  .show(none);
}

.sf-user-menu .last .sf-depth-2 {
  border-top: 1px dotted #aeaeae;
}

.block-superfish {
  clear: both;
  width: auto;
  .left();
  @media @narrow { 
    .right();
    clear:none;
  } 
  .content {
    select {
      .main-menu-border();
      width: auto;
      .bold(14px);
      .main-menu-link();
      background: 0;
      height: auto;
      option {
        color: #000;
      }
    }
    select:hover {
      color: #ffffff;
      .bold(14px);
    }
    ul.menu {
      width: auto;
      > li.menuparent,
      > li.sf-no-children {
        .main-menu-border();
        width: auto;
        > a {
          &:link, &:visited {
            .bold(14px);
            .main-menu-link();
            .show(inline);
          }
          &:hover, &:active { .link(); }
        }
        .ajax-progress.ajax-progress-throbber {
          float: right;
          padding-right: 6px;
          position: relative;
          margin-right: -25px;
          .throbber {
            background: none;
            .bg-img('progress_white.gif');
            .left();
            height: 16px;
            margin: 0;
            width: 16px;
          }
        }
      }
      li.menuparent {
        .bg-img('superfish-menu-triangle-small.png');
        background-position: 49% 87%;
      }
      li.menuparent.sfHover a {
        color: #ffffff;
      }
      li.menuparent.sfHover a.user-menu-userpoints {
        .bg-img('user-crown-hover.png');
        background-position: top center;
        background-repeat: no-repeat;
      }
      li.menuparent.sfHover .arrow-up {
        .show(block);
      }
      li.menuparent ul {
        background: white;
        border-radius: 2px;
        margin-top: 7px;
        /* use !important in order to override superfish css */
        padding: 0 !important;
        -moz-box-shadow: 0 1px 3px 0 #888;
        -webkit-box-shadow: 0 1px 3px 0 #888;
        box-shadow: 0 1px 3px 0 #888;
        border-top: none;
        a:link, a:visited {
          color: #383838;
          .link();
        }
        a:hover {
          .caption-orange();
          .link();
           background: #fff4ee;
        }
        a:active {
          .caption-orange();
          .link();
        }
        li a.sf-depth-2 {
          .bold(14px);
          padding: 5px 5px 10px 10px;
          margin: 0 5px 5px 5px;
        }
        li.first a.sf-depth-2 {
          margin-top: 5px;
        }
      }
    }
  }
}


.block-main-menu {
  .right();
  width: auto;
  .content {
    .bold(14px);
    li {
       list-style: none;
      .left();
      .main-menu-border();
      a:link, a:visited {
        .main-menu-link();
      }
      a:hover {
        color: white;
      }
    }
  }
}

.section-footer {
    background: #4c4c4c;
    .gris();
    height: 36px;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

.region-footer-first {
    display: block;
    .block-rights-reserved {
        .right();
        .content {
            height: 36px;
            display: table; 
            .rights-reserved {
                .middle-cell();
            }
        }
    }
}

.block-menu-footer-menu {
  .left();
  li {
    .menu-float();
    a {
      .gris();
      .link();
      .middle-cell();
      height: 36px;
      padding: 0px 20px;
    }
  }
}

/****** Common properties End ******/


.node-provider .statistics_counter {
    display:none;
}

#info-provider {
  float: left;
  width: 870px;
  padding: 0 0 50px 0;
  margin-bottom: 20px;
  .border-bottom-dotted;
  .field-name-field-logotype {
      float: left;
      margin: 0 15px 0 0;
  }
  #info-school {
    float: left;
    padding-top: 15px;
    #name-course {
      .title-node {
      font-size: 22px;
      font-weight: bold;
      margin: 0 0 20px 0;
      }
    }
    #provider {
      .text-blue;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

#second-row {
  float: left;
  width: 870px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  .border-bottom-dotted;
  #info-teacher {
      float: left;
      width: 440px;
  }
  #video-course {
      float: left;
  }
}

.field-answer-count,
.view-user-answers-list .field-content {
  .text-orange();
  text-align: center;
  .hide();
  float: left;
  span {
    display: block;
  }
  @media @normal { 
     .show();
     .grid-normal-2();
  }
  @media @narrow {
     .grid-narrow-2();
  }
  @media @wide {
      .grid-wide-2();
  }
}

.view-questions-list,
.view-user-answers-list {
  .views-row {
     width: 100%;
    .border-bottom-dotted();
    .bold(14px);
    float: left;
    padding: 10px 0;
    .text-dark-grey();
  }
}

.view-questions-list .field-group-question .field-title a,
.view-user-answers-list .field-answer-question a {
  .link();
  .text-orange();
}

.view-user-answers-list {
  .field-content {
    color: #555555;
    font-size: 22px;
  }
  .field-answer-question {
    .left();
    padding-top: 6px;
  }
}

.view-questions-list {
  .zero {
    .gris;
  }
  .field-group-question {
    float:left;   
    @media @narrow {
       .grid-narrow-12();
    }
    @media @normal {
        .grid-normal-8();
        div {
            padding: 0 0 0 30px;
        }
    }
    @media @wide {
        .grid-wide-8();
    }
    .field-title {
      margin-bottom: 6px; 
    }
    .field-body p {
      margin-bottom:0;
    }
  }
  .field-group-signature {
    .hide();
    float: left;
    text-align: center;
    @media @normal {
      .show();
      .gris();
      .grid-normal-2();
    }
    @media @narrow {
      .grid-narrow-2();
      margin-left: 40px;
    }
    @media @wide {
      .grid-wide-2();
    }
  }
}

.view-user-questions-list,
.view-user-answers-list {
  margin-top: 14px;
  .field-group-question,
  .field-answer-question {
    @media @narrow {
      .grid-narrow-14();
    }
    @media @normal {
      .grid-normal-14();
    }
    @media @wide {
      width: 1010px;
    }
  }
}


#message-placeholder {
  background: #c0e2fe;
  .text-blue;
  font-weight: bold;
  .text {
    padding: 5px 10px;
    margin-bottom: 20px;
    .close {
      float: right;
      .text-orange;
      cursor: pointer;
    }
  }
}

#quick-question-wrapper {
  margin-bottom: 15px;
  .fieldset-legend {
    .bg-img('ask-question.png');
    padding-left: 20px;
    background-position: left center;
    .fieldset-title {
      .text-orange();
      .bold(14px);
      .link();
      border-bottom: 1px dotted;
    }
  }
  .fieldset-wrapper {
    clear: both;
    .form-text {
      width: 100%;
    }
  }
  .form-submit {
    left: -8px;
    top: -58px;
    margin-top: 0;
  }
  fieldset {
    margin-bottom: 0;
    legend {
      float: right;
      padding-bottom: 5px;
    }
    input,
    textarea {
      border: medium none;
      .bold(14px);
    }
  }
}

.node-links {
  .hide();
}

.book-navigation {
  .page-links {
    border: 0;
    padding: 0;
  }
  .page-next,
  .page-previous {
    .button-submit();
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    @media @narrow {
      .grid-narrow-2();
    }
    @media @normal {
      .grid-normal-2();
    }
    @media @wide {
      .grid-wide-2();
    }
  }
  .page-next:hover,
  .page-previous:hover {
    .button-submit-hover();
  }

   .page-previous {
      float: left;
    }
   .page-title {
      display:none;
      clear: none;
      float: left;
      padding-top: 8px;
      @media @narrow {
        .show();
        .grid-narrow-8();
      }
      @media @normal {
        .grid-normal-8();
      }
      @media @wide {
        .grid-wide-8();
      }
     text-align: center;
     margin: auto;
     text-decoration: none;
     font-weight: bold;
     color: #333;
     font-size: 14px;
     cursor: default;
     .title-wrapper {
       .lesson {
         .text-orange();
         margin-right: 5px;
       }
      .quiz {
        .bg-img('question_mark.png');
        padding:0 10px;
      }
     }
   }
}

.node-type-lesson {
  footer.submitted, .user-picture {
    .show(none);
  }
  .media-youtube-video {
    position: relative;
    padding-bottom:56.25%;
    padding-top:25px;
    height:0;
    .media-youtube-player {
      position:absolute;
      top:0;
      left:0;
      width: 100%;
      height:100%;
    }
  }
}

.field-name-field-video {
  margin-bottom: 10px;
}

.block-lesson-interaction {
  margin-top: 29px;
}

.link-button,
.course-user-register {
  &,
  &:link,
  &:visited {
    .button-submit();
    width: 120px;
    padding: 0;
    text-align: center; 
  }
}

/****** Node type "Course" Start ******/
.node-type-course {
  #section-content {
    color: #333333;
    #region-content {
      margin: 37px 0 0 10px;
    }
  }
}

.node-course-header {
  .table();
  width: 100%;
  margin-bottom: 22px;
  .border-bottom-dotted();
  .social-share {
    .cell();
    .right();
    margin-top: 14px;
    .bg-img('social-stuff.png');
    height: 71px;
  }
  .field-name-field-logo {
    .left();
  }
}

.node-course-header-left {
  .cell();
  .left();
  margin-bottom: 51px;
  margin-left: 0;
}
 
.node-course-provider-name {
  .left();
  margin-left: 13px;
  .course-title {
    margin-bottom: 8px;
  }
  .provider-name-extra {
    .bold(14px);
    color: #435d7b;
    margin-left: 0;
    .provider-name {
      margin-bottom: 7px;
    }
  }
}

.node-course-description {
  .left();
  .field-name-body {
    .border-bottom-dotted();
    padding-bottom: 13px;
  }
  .field-name-field-course-content {
    padding-top: 23px;
  }
  .book-navigation {
    ul {
      padding: 0;
      li {
        margin: 0 0 15px 0;
        span.course-section-number {
          .bold(14px);
        }
        a:link {
          color: #333333;
          .link();
        }
        a:hover, a:visited {
          color: #888;
        }
      }
    }
  }
  p {
    margin-bottom: 16px;
  }
}


.view-course-students {
  .right();
  @media @narrow {
    width: 250px;
  }
  @media @normal {
    width: 250px;
  }
  @media @wide {
    width: 280px;
  }
  @media @mobile {
    width: 250px;
  }
  .view-header {
    .view-block-header();
    .right {
      float:right;
    }
  }
  .item-list {
    display: none;
  }
  table {
    border: none;
  }
  td.col-1 {
    padding: 4px 4px 4px 8px;
  }
  td.col-2, td.col-3 {
    padding: 0 4px;
  }
  td.col-4 {
    padding: 0 0 0 4px;
  }
  .views-field-picture {
    .small-avatar();
  }
}

  
.node-course-basic-info {
  display: inline-block;
  width: 100%;
  border-bottom: 1px dotted #aeaeae;
  margin-bottom: 23px;
  padding-bottom: 25px;
  .node-course-teacher-parameters {
    .left();
    .field-name-field-first-name {
      .left();
      margin-right: 5px;
    }
    .node-course-teacher-button {
      .left();
      margin-right: 20px;
      .ajax-progress {
        .show(none);
      }
    }
    .teacher-avatar {
        margin-bottom: 30px;
    }
    .node-course-paramenters {
      .cell();
      .bold(14px);
      .left();
        .field-name-field-duration {
          margin: 4px 0 20px 0;
        }
        .field-label {
          margin-bottom: 4px;
          .text-grey();
        }
        .field-item {
          .caption-orange();
        }
    }
    }
    .field-name-field-video {
      .right();
    }
    .media-youtube-video {
      position: relative;
      padding-bottom: 52.25%;
      height: 0;
      .media-youtube-player {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
}

.node-type-course #course-registration-form .form-submit {
  float: none;
  width: 100%;
  margin-top: 4px;
  padding: 0;
}

/****** Node type "Course" End ******/

/** Course Book Header **/

.course-header {
  border-bottom: 1px dotted #AFAFAF;
  padding: 20px 0 16px 0;
  float: left;
  width: 100%;
  .provider-logo {
    float: left;
    padding-right: 20px;
    margin-left: 10px;
  }
  .title-wrapper {
    float: left;
    .course-title {
      font-weight: bold;
      font-size: 20px;
      .course-title-link {
        .link();
        .text-orange();
      }
    }
    .teacher-name .field {
      color:#435e7b;
      font-weight: bold;
      font-size: 16px;
      float: left;
      margin-right: 5px;
    }
  }
  .item-list {
    .right();
    margin-top: 14px;
    ul li {
      .left();
        height: 50px;
        .show(table);
      a {
        .bold(14px);
        .link();
        .show(table-cell);
        vertical-align: bottom;
      }
      a:link, a:visited {
        color: #444444;
      }
      a:hover, a.active {
        .caption-orange();
      }
      &.first a {
        .bg-img('blog-link.png');
        background-position: 100% 15%;
      }
      &.last a{
        .bg-img('forum-link.png');
        background-position: center 15%;
      }    
      &.first a.active,
      &.first a:hover {
        .bg-img('blog-active.png');
      }
      &.last a.active,
      &.last a:hover {
        .bg-img('forum-active.png');
      }
    }
  }
}  

.block-course-book-header {
   margin-bottom: 22px;
}

.node-type-question {
  .block-course-book-header {
     margin-bottom: 0;
  }
}

/** Course Book Header **/

/****** User Profile ******/
.page-user {
  .block-system-main, 
  .block-quicktabs-user-profile-tab {
    @media @normal {
      margin: 0 20px 20px 20px;
    }
    @media @wide {
      margin: 0 20px 20px 20px;
    }
  }
  .profile {
    .bold(14px);
    .text-grey();
    margin-top: 23px;
    a {
      .link();
      &:link, 
      &:visited {
        color: #333333;
        .link();
      }
      &:hover,
      &:active {
        .text-orange();
      }
    }
  }
}

.user-profile-name-caption {
  .border-bottom-dotted();
  .show(inline-block);
  width: 100%;
  .user-name {
    .left();
    margin-left: 0;
  }
  .user-name h2, .user-profile-edit-link h2 {
    margin-bottom: 7px;
  }
}

.user-profile-edit-link {
  .right();
}

.profile-edit {
  background-position: 0 2px;
  .link-image-left(16px);
  &:link, 
  &:visited {
    .bg-img('profile-edit-link.png');
  }
  &:hover,
  &:active {
    .bg-img('profile-edit-hover.png');
  }
}

.user-profile-main-panel {
  margin-top: 26px;
}


.user-profile-picture-points {
  margin-right: 20px;
  @media @wide {
    margin-right: 25px;
  }
  .left();
}

.user-avatar {
  float: none;
  margin: 0;
  img {
    padding: 6px;
  }
}


.user-avatar-edit-link {
  .bold(11px);
  .link();
  color: #333333;
  position: absolute;
  top: 84px;
  left: 6px;
  background: rgba(255,255,255,0.66);
  width: 107px;
  text-align: center;
  height: 18px;
  padding-top: 11px;
  .show(none);
  cursor: pointer;
}

.user-profile-userpoints {
  height: 23px;
  margin: 15px 0 15px 40px;
  padding: 6px 0 0 29px;
  .bg-img('profile-crown.png');

}


/* User profile picture update form styles */
.js-modal {
  .show(none);
}

.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

.upload-form-container {
  position: fixed;
  width: 387px;
  top: 50%;
  left: 50%;
  margin-left: -193px;
  margin-top: -113px;
  background: #f8f8f8;
  z-index: 1001;
}

#profile-pic-update-form {
  .close {
    color: transparent;
  }
  .upload-form-main-wrapper {
    .show(inline-table);
    margin-top: 10px;
    margin-left: 10px;
    .border-bottom-dotted();
    #upload-form-picture {
      .left();
      margin: 0 10px 10px 0;
    }
  }
  .upload-form-links-wrapper {
    .left();
    width: 237px;
    .form-item-files-file {
      margin: 0;
      opacity: 0;
      position: relative;
      top: -19px;
      left: -138px;
    }
    #edit-file {
      cursor: pointer;
    }
    #edit-delete {
      opacity: 0;
      margin: 0;
      padding: 0;
      .left();
    }
    a {
      .text-dark-grey();
      .bold(14px);
      .border-bottom-dotted();
      
    }
    a.active {
        color: #f64a00;
        border-bottom: 1px dotted #f64a00;
    }
    .remove-link {
      position: absolute;
      left: 139px;
    }
    .ajax-progress {
      display: inline;
    }
    #message-placeholder {
      clear: both;
      overflow: auto;
    }
  }
  .upload-form-main-submit {
    .show(none);
  }
  .upload-form-submit-link {
    .button-submit();
    margin: 10px;
    cursor: pointer;
  }
  .throbber {
    position: absolute;
    top: 49px;
    left: 14px;
    height: 107px;
    width: 107px;
    .bg-img('throbber.gif');
    background-color: #fff;
    background-position: center center;
    margin-bottom: -2px;
  }
}
/* User profile picture update form styles END */

.view-user-courses {
  .right();
  @media @narrow {
    float: none;
  }
  @media @mobile {
    clear: both;
    width: 90%;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
  margin-bottom: 22px;
  background: #FAFAFA;
  .view-header {
    .view-block-header();
  }
  .view-content {
    padding: 22px 24px;
  }
}

.view-user-courses-progress-outer {
  height: 28px;
  margin: 11px 0 34px 0;
  .RoundedShape(3px);
  border: #859AA1 @border-1;
  width: 100%;
  p {
    .left();
    color: white;
    padding: 6px 8px;
  }
}
.view-user-courses-progress-inner, 
.view-user-courses-progress-gradient {
  height: 28px;
}
.view-user-courses-progress-inner {
  .striped-progressbar();
}
.view-user-courses-progress-gradient {
  .gradient-progressbar();
}

.views-user-courses-links {
  .show(table);
  width: 100%;
  .views-field-title {
    .left();
    a:hover {
      color: #333333;
    }
  }
}

.user-course-exit {
  .right();
  .box(16px);
  margin-left: 10px;
  &:link,
  &:visited {
    .bg-img('exit.png');
  }
  &:hover, &:active {
    .bg-img('exit_hover.png');
  }
}

.user-course-continue {
  .right();
  .link-image-left(20px);
  border-right: 1px solid #cccccc;
  padding-right: 10px;
  &:link,
  &:visited {
    .bg-img('continue_link.png');
  }
  &:hover,
  &:active {
    .bg-img('continue_link_hover.png');
  }
}

.user-profile-fields {
  @media @narrow {
    width: 400px;
  }
  .user-profile-name-surname,
  .user-profile-email,
  .field-name-field-phone-number,
  .field-name-field-birthday {
    margin-bottom: 14px;
  }
  .field-label,
  .user-profile-name-surname-caption {
    margin-bottom: 2px;
    .text-grey();
  }
  .field-item {
    .caption-orange();
  }
}

.user-profile-name-surname {
  .field-name-field-first-name {
    .left();
    margin-right: 5px;
  }
}


/****** User Profile End ******/

#notes-markup {
  float: left;
}


/****** Node type "Question" Start ******/
.node-type-question {
  .ajax-progress-throbber {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: block;
    background: #fff url(../images/progress_orange.gif) no-repeat 50% 50%;
    .throbber {
      .show(none);
    }
  }
  .vud-widget-elearning_widget {
    margin-left: 10px;
  }
}

.node-question-return-link {
  .bold(13px);
  .right();
  height: 16px;
  margin-right: 25px;
  margin-top: 36px;
  &:before {
    .bg-img('left_square_arrow.png');
    .left();
    .show(block);
    content: "";
    width: 22px;
    height: 16px;
  }
  &:link, &:visited {
    color: #1f1f1f;
  }
  &:hover, &:active {
    .caption-orange();
  }
  &:hover:before {
    .bg-img('left_square_arrow_hover.png');
  }
}

.flag-follow-content {
   margin: 10px 0 0 11px;
  .show(block);
  .left();
  .flag {
    .show(block);
    overflow: hidden;
    color: transparent;
    width: 18px;
    height: 18px;
    .bg-img('follow-flag.png');
  }
  .unflag-action {
    background-position: -40px 0;
  }
  .unflag-action:hover {
    background-position: -60px 0;
  }
  .flag-action:hover {
    background-position: -20px 0;
  }
}

.page-node-blog .flag-follow-content  {
  float: right;
  margin-top: 5px;
}

.flag-throbber {
  .show(none);
}

.author-points {
  .bold(12px);
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 37px;
  top: 34px;
  width: auto;
  height: 15px;
  border-radius: 2px;
  background-color: #e44300;
  padding: 1px 2px;
}

.node-question-title-section {
  padding: 4px 0 4px 0;
  .show(inline-block);
  width: 100%;
  .border-bottom-dotted();
   h1 {
    margin-bottom: 0;
    .left();
   }
}


.node-question-picture-points {
  .left();
  @media @narrow {
    margin-right: 15px;
  }
  @media @normal {
    margin-right: 15px;
  }
  @media @wide {
    margin-right: 24px;
  }
}


.node-question-body {
  .bold(14px);
  .text-dark-grey();
  .border-bottom-dotted();
  .show(inline-block);
  width: 100%;
  margin-top: 24px;
  .field-name-body {
    line-height: 17px;
  }
  .node-supplementary-wrapper {
    margin-top: 22px;
  }
  .field-name-field-rating-widget {
    .left();
  }
}

.node-question-body .field-name-field-rating-widget,
.view-question-answers .views-answer-widgets , 
.view-answer-feedbacks .views-answer-widgets  {
  @media @narrow {
    width: 45px;
  }
  @media @normal {
    width: 46px;
  }
  @media @wide {
    width: 61px;
  }
}

#quick-answer-wrapper, 
.oq-answer-form {
  legend, 
  .ckeditor_links, 
  .filter-wrapper {
  /* use !important in order to override style, that assigned to the elements by ckeditor js */
    .show(none) !important;
  }
  .fieldset-wrapper {
      background: #ffffff;
  }
  .oq-answer-edit-submit {
    margin-top: 9px;
  }
}


.block-answers-extra {
  margin: 0;
  .answer-form-save {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

/* CKEditor Theming */
.html {
  .cke_top, 
  .cke_bottom {
    .cke-main-panel-blue();
  }
  .cke {
    border: @border-cke-blue;
  }
  .cke_top {
    border-bottom: @border-cke-blue;
  }
  .cke_bottom {
    border-top: @border-cke-blue;
  }
  .cke_toolgroup {
    border: @border-cke-blue;
    border-bottom-color: #ccd6e0;
    .cke-tools-panel-blue();
  }
  .cke_toolbar_separator {
    background: #e2e8ed;
  }
}
/****** Node type "Question" End ******/

// Views on Open Question page.
.node-supplementary,
.view-question-answers .views-field-created,
.view-question-answers .views-field-name,
.view-answer-feedbacks .views-field-created,
.view-answer-feedbacks .views-field-name,
.view-answer-feedbacks .views-field-rating,
.view-answers-review .views-field-created,
.view-answers-review .views-field-name {
  .left();
  .bold(11px);
  color: #435D7B;
  border: 1px solid #E0E8EA;
  background-color: #f4f7f7;
  padding: 8px;
  margin: 22px 6px 22px 0;
  .RoundedShape(2px);
  em {
    font-style: normal;
  }
}

.view-question-answers, 
.view-answer-feedbacks, 
.view-answers-review {
  .views-row {
    .show(inline-block);
    background: #ffffff;
    margin: 0;
    padding: 18px 0 0 0;
    .border-bottom-dotted();
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    .form-item {
      margin: 0;
    }
    .form-textarea-wrapper {
      margin-bottom: 10px;
    }
  }
  .views-field-body {
    color: #3d3d3d;
    font: normal 14px Arial;
    .show(table);
    p {
      margin: 0;
    }
  }
}

.views-field-flag-thumbs-up {
  .left();
  a, .best-answer-marked {
    .show(block);
    .left();
    overflow: hidden;
    color: transparent;
    width: 19px;
    height: 20px;
    .bg-img('best_answer_button.png');
    margin: 16px 0 16px 16px;
  }
  a.flag-action {
    background-position: -19px 0;
    &:hover {
      background-position: 0 0;
    }
  }
  .best-answer-hidden {
    .show(none);
  }
}

.view-question-answers {
  .vud-widget-elearning_widget {
    .bold(14px);
    .text-dark-grey();
  }
  .views-field-body,
  .comment-form,
  .comment-group,
  .views-field-comment-count {
    @media @narrow {
      .grid-narrow-10();
    }
    @media @normal {
     .grid-normal-10();
    }
    @media @wide {
      .grid-wide-10();
    }
  }
}

.views-inline-comment-cancel {
  .link-cancel();
  .show(table);
  .right();
  padding: 0;
  margin: 0;
  a {
    .show(table-cell);
    vertical-align: middle;
    float: none;
    padding: 0 10px;
    cursor: pointer;
  }
}

.view-answer-feedbacks .views-answer-feedback-body,
.view-answer-feedbacks .comment-form,
.view-answer-feedbacks .comment-group,
.view-answer-feedbacks .views-field-comment-count,
.view-answers-review .views-other-answer-body {
  @media @narrow {
    width: 455px;
  }
  @media @normal {
   width: 635px;
  }
  @media @wide {
    width: 815px;
  }
}

.view-answer-feedbacks {
  .views-answer-feedback-widgets {
    margin-right: 20px;
  }
}

.views-other-answer-picture {
  .left();
  margin-right: 20px;
  position: relative;
  .tiny-avatar();
}

.views-answer-feedback-picture { 
  position: relative;
  .tiny-avatar();
}

.views-field-feedback-form {
  margin-top: 25px;
  label, 
  .ajax-progress-throbber, 
  .oq-review-form-rating-submit {
    .show(none);
  }
  .fivestar-user-stars, 
  .fivestar-default {
    .right();
  }
  .oq-review-link {
    .right();
    width: 16px;
    height: 16px;
    margin-left: 9px;
    margin-top: 4px;
    .bg-img('ask-question.png');
    background-position: 0% 50%;
    cursor: pointer;
  }

  .form-textarea-wrapper {
    clear: left;
  }
  .oq-form-message ul li {
    .left();
    .bold(12px);
    position: relative;
    bottom: 5px;
    color: red;
    border: 1px solid red;
    background-color: #f4f7f7;
    padding: 8px;
    .RoundedShape(2px);
  }
}

.oq-review-form-submit {
  margin-bottom: 10px;
}

.oq-review-form-skip, 
.oq-review-form-skip:hover {
  .action-cancel();
  .bold(14px);
}

.oq-form-fieldset-toggle {
  width: 100%;
  clear: both;
  padding: 0;
  background: none;
  .fieldset-wrapper {
    padding: 0;
  }
}

.answer-form-edit,
.oq-review-form-edit {
  &, &:hover {
    .button-icon();
    .bg-img('answer-edit.png');
    margin-top: 60px;
    margin-right: 8px;
    position: absolute;
    right: 0;
    filter: none;
  }
}

.answer-form-edit {
  &, &:hover {
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    top: -7px;
  }
}

.answer-form-edit.progress-disabled,
.oq-review-form-edit.progress-disabled {
  &, 
  &:hover {
    color: transparent;
    .bg-img('progress_orange.gif');
    width: 16px;
    height: 16px;
  }
}

.answer-form {
  float: right;
  height: 16px;
}

/* @todo Ilya adjust layout in accordance with psd. */
.oq-review-form-edit-body-is-empty {
  margin-top: 4px;
  margin-right: -13px;
  .show(none);
}

.view-question-answers, 
.view-answer-feedbacks, 
.view-answers-review {
  .views-answer-body, 
  .views-answer-feedback-body, 
  .views-other-answer-body {
    .show(table);
    @media @mobile { 
      .show();
    }
  }
}

.view-question-answers, 
.view-answer-feedbacks, 
.view-feedback-comments {
  .views-field-comment-count {
    .show(inline);
  }
  .hidden {
    visibility: hidden;
  }
  .formcloselink, 
  .closelink, 
  .comment-click {
    .show(none);
  }
  .comment-form {
    label, 
    .form-type-item a, 
    #edit-preview, 
    .form-item-subject, 
    .ckeditor_links {
      .show(none);
    }
    #edit-comment-body {
      float: none;
    }
    .text-format-wrapper {
      clear: both;
    }
    .form-actions {
      .show(inline-block);
      margin: 0;
      padding-right:0;
      width: 100%;
    }
    .form-submit {
      margin: 0;
      height: 30px;
    }
  }
  .comment-group, .comment-form {
    .right();
  }
  .comment-group {
    @media @mobile { 
      float: none;
      padding-left: 30px;
    }
  }
  .comment-form {
    margin-bottom: 10px;
  }
  .comment-group {
    /* use !important in order to override inline comments js */
    .show(block) !important;
    clear: both;
  }
  .spinner {
    .show(none);
  }
  .comment {
    width: auto;
    margin: 0;
    background: transparent;
    box-shadow: none;
    padding: 16px 0;
    border-top: 1px dotted #aeaeae;
    font-family: Arial;
    .submitted span {
      font-size: 13px;
      color: #838383;
      a:link, a:visited {
        .link();
        color: #de4900;
        font-weight: bold;
      }
    }
    .submitted em {
      font-style: normal;
    }
    .content {
      margin-top: 10px;
      font-size: 14px;
      .text-dark-grey();
      p {
        margin-bottom: 5px;
      }
    }
  }
}

.view-feedback-comments {
  .views-row {
    padding: 0;
  }
  .feedback-body, 
  .views-field-comment-count {
    .left();
    @media @narrow {
      width: 452px;
    }
    @media @normal {
     width: 632px;
    }
    @media @wide {
      width: 812px;
    }
    @media @mobile {
      .right();
      width: 95%;
    }
  }
  .views-inline-comment-field {
    .right();
    margin-top: -25px;
    width: 100%;
    a.comment-link {
      color: transparent;
      .bold(12px);
      .bg-img('ask-question.png');
      padding: 0;
      width: 17px;
      height: 17px;
      .right();
    }
  }
  .comment-group, 
  .comment-form {
    width: 95%;
  }
  .comment-group .comment,
  .comment-form #comment-form {
    width: 100%;
  }
  .views-row-last {
    border: 0;
  }
}


.view-question-answers, 
.view-answer-feedbacks {
  .views-answer-widgets, 
  .views-answer-feedback-widgets {
    .left();
  }
  .views-inline-comment-field {
    .right();
    .bg-img('ask-question.png');
    padding: 8px 0 8px 31px;
    margin-top: -16px;
    background-position: 8px center;
    background-repeat: no-repeat;
    border-left: 1px dotted #aeaeae;
    a.comment-link {
      .text-orange();
      .link();
      .bold(12px);
      border-bottom: 1px dotted #ce4619;
      padding-right: 0;
    }
  }
}

/* Views on Open Question page END */

/****** Node type "Open Question" Start ******/
.node-open-question-picture {
  .hide();
  @media @normal {
    .show();
  }
}

.node-open-question-body {
  .show(inline-block);
  .field-name-field-question {
    .bold(14px);
    .text-light-grey();
  }
  @media @narrow {
    padding-left: 17px;
  }
   @media @normal {
    padding-left: 0;
  }
}

.block-quicktabs-open-question-tabs {
  margin-top: 13px;
}

.oq-answer-form {
  .clearfix();
  .oq-answer-form-supplementary {
    .bold(14px);
    color: #525a61;
    margin-top: 23px;
    height: 17px;
    &:before {
      .bg-img('answer-suppl-text.png');
      background-position: top center;
      .left();
      .show(block);
      content: "";
      width: 20px;
      height: 17px;
    }
  }
  .oq_answer {
    .bold(14px);
    .text-blue-grey();
  }
  .oq-answer-submit-sign {
    .bg-img('answer-edit.png');
    width: 15px;
    height: 15px;
    .right();
    margin: 2px 6px 0 0;  
  }
  .form-submit.oq-answer-form-submit {
    border: 0;
    margin-right: 5px;
    padding: 0;
    background: 0;
    .text-orange();
    .bold(13px);
    border-bottom: 1px dotted #ce4619;
    .RoundedShape(0px);
    height: auto;
    filter: none;
  }
}

.oq-answer-feedback-summary {
    clear: both;
    margin-top: 18px;
    height: 30px;
    .border-bottom-dotted();
    .border-top-dotted();
}

.oq-answer-view-description, 
.oq-answer-rating {
  .bold(13px);
  color: #000;
}
.oq-answer-view-description {
  .left();
   line-height: 30px;
}
.oq-answer-rating {
  .right();
  line-height: 30px;
}
.answer-feedbacks-count {
  color: #a1a1a1;
}

/****** Node type "Question" End ******/

.block-course-course-item-links .content li {
  .menu-float();
  a {
    .link();
    .text-grey();
    margin-right: 10px;
    font-weight: bold;
  }
  a:hover,
  a.active {
    .text-orange()
  }
}

.abuse-flag {
  clear: both;
  .ctools-modal-abuse {
    .bg-img('flag.png');
    color: transparent;
    margin: 0 0 22px 16px;
    float: left;
    height: 20px;
    width: 20px;
  }
  .flag-action:hover {
    .bg-img('flag_hover.png');
  }
  .unflag-action {
    .bg-img('unflag.png');
  }
  .unflag-action:hover {
    .bg-img('flag.png');
  }
  .ajax-progress, .throbber {
    .show(none);
  }
}

/* Login/Registration/Profile editing forms styles START */

.not-logged-in .form-submit:hover {
  .border-sumbit-hover();
  .gradient-submit-button-hover();
}

.not-logged-in .ctools-modal-user-forms .popups-body,
.page-user .ctools-modal-profile-form .popups-body {
  padding: 0 15px 15px 15px;
  /* use !important in order to override modal js style for user forms */
  width: auto !important;
  position: initial;
}

.ctools-common-modal-content.ctools-modal-user-forms .popups-container,
.ctools-common-modal-content.ctools-modal-user-forms .modal-content {
  background: #f8f8f8;
}

.ctools-common-modal-content.ctools-modal-user-forms .form-item label {
  width: auto;
}

.login-system-form,
.profile-edit-form {
  margin-top: 27px;
  .form-item {
    margin-top: 0;
    margin-bottom: 0;
    label {
      .bold(12px);
      color: #505050;
    }
    .form-text {
      height: 41px;
      .bold(14px);
      .box-shadow();
      border: 0;
      padding-left: 11px;
      width: 100%;
      color: #505050;
    }
    input.error {
      border: 1px solid #e24110;
      background-color: #fff2ee;
      color: #e24110;
    }
  }
  .absolute-messages-error,
  .messages.error {
    background-color: #e64412;
    color: #fff;
    .bold(12px);
    .show();
    background-image: none;
    padding: 13px 13px 13px 9px;
    margin: 0 0 -13px 0;
    border: 0;
    text-align: left;
    ul {
      list-style: none;
      margin: 0;
    }
    a:link, a:visited {
      color: #fff;
    }
  }
  .absolute-messages-error {
    .content {
      padding: 0;
      border: 0;
    }
    .absolute-messages-dismiss {
      border: 2px solid #fff;
      background-color: #e64412;
      color: #fff;
    }
  }
}

.login-form {
  .form-item-name {
    margin-bottom: 22px;
  }
  .form-item-pass {
    margin-bottom: 16px;
  }
  .login-form-fb-submit, 
  .login-form-fb-submit:hover {
    .gradient-fb();
    .left();
    border: 0;
  }

  .login-form-additional-link {
    color: #ec4600;
    .link();
    .bold(12px);
  }
}

.login-form-registration, 
.login-form-reset {
  .right();
}

.login-form,
.register-form {
  .ajax-progress.ajax-progress-throbber {
    float: right;
    padding: 12px 6px 0 0;
    .throbber {
      .bg-img('progress_orange.gif');
      .left();
      height: 16px;
      margin: 0;
      width: 16px;
    }
  }
}

.ctools-modal-login-form .login-form .form-actions.form-wrapper {
  padding-top: 16px;
  margin-top: 29px;
}

.ctools-modal-register-form {
  /* use !important in order to override modal js style for user forms */
  width: 440px !important;
}

.register-form,
.profile-edit-form {
  .description,
  .password-strength,
  .password-strength-text,
  .password-strength-title,
  .password-indicator {
    .show(none);
  }
  .password-suggestions {
    /* use !important in order to override default js style for user register form */
    .show(none) !important;
  }
  .form-item-pass {
    .password-parent {
      margin-bottom: 27px;
      width: 100%;
    }
    .confirm-parent {
      width: 100%;
    }
    input.password-confirm,
    input.password-field {
      margin-bottom: 0;
    }
  }
  .password-confirm {
    .bold(12px);
    color: #505050;
  }
  .password-confirm {
    margin: 0;
    width: 49%;
  }
}

.register-form {
  .user-form-name-wrapper {
    margin-bottom: 22px;
    .show(inline-block);
    .field-name-field-first-name, 
    .field-name-field-surname {
      width: 196px;
      .left();
    }
    .field-name-field-first-name {
      margin-right: 17px;
    }
  }
  .form-item-mail, 
  .form-item-pass {
    .description {
      position: absolute;
      left: 98%;
      width: 131px;
      padding: 15px;
      background: #fdfdfd;
      z-index: 10000;
      moz-box-shadow: 2px 4px 23px 1px #888;
      -webkit-box-shadow: 2px 4px 23px 1px #888;
      box-shadow: 2px 4px 23px 1px #888;
    }
  }
  .form-item-mail {
    margin-bottom: 25px;
    .description {
      top: 28%;
    }
  }
  .form-item-pass {
    margin-bottom: 23px;
    .description {
      top: 44%;
    }
  }
  .register-form-license-text {
    .bold(12px);
    color: #505050;
    a:link, a:visited {
      .link();
      color: #e44100;
    }
  }
  .register-form-popup-link {
    position: absolute;
    left: 90%;
    width: 21px;
    height: 21px;
    .bg-img('info-popup-link.png');
    cursor: pointer;
  }
  .register-form-popup-link:hover {
    .bg-img('info-popup-link-hover.png');
  }
  .popup-arrow-left {
    position: absolute;
    z-index: 10001;
    left: 95%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 13px solid #fdfdfd;
    .show(none);
  }
  .popup-mail-arrow {
    top: 170px;
  }
  .popup-pass-arrow {
    top: 251px;
  }
  .popup-mail {
    top: 170px;
  }
  .popup-pass {
    top: 251px;
  }
}

.profile-edit-form {
  .user-form-name-wrapper {
    .show(inline-block);
  }
  .field-name-field-first-name, .field-name-field-surname {
    width: 166px;
    .left();
  }
  .field-name-field-first-name {
    margin-right: 17px;
  }
  background: #f8f8f8;
  .form-item {
    margin-bottom: 25px;
  }
  .field-name-field-birthday {
    margin-bottom: 25px;
    .form-wrapper {
      margin: 0;
    }
    .fieldset-legend {
      .bold(12px);
      color: #505050;
    }
    .fieldset-wrapper {
      background: #f8f8f8;
      padding: 0;
      .container-inline-date {
        width: 100%;
        .form-item {
          margin: 0;
          width: 100%;
        }
        .date-padding {
          padding: 0;
          width: 100%;
        }
      }
    }
    label {
      .show(none);
    }
    .date-padding input {
      .bg-img('date-popup-link.png');
      background-position: 97% 50%;
      cursor: pointer;
    }
  }
  .form-actions {
    margin-top: 37px;
    .form-submit {
      margin-top: 5px;
    }
  }
  #edit-revalidate {
    clear: both;
  }
}

.profile-edit-form.profile-reset-form,
.login-form.login-page-form {
  background: #fff;
  width: 349px;
  .show(inline-block);
  .box-shadow();
  padding: 10px;
}


/** Css for href edit links **/
.edit-link {
  .bg-img('answer-edit.png');
    .show(block);
    .left();
    overflow: hidden;
    color: transparent;
    width: 18px;
    height: 18px;
    margin: 12px 0 0 11px;
}

/** Quiz Css **/

.quiz-question-body {
  p {
    .text-orange();
    .bold(18px);
  }
  .border-bottom-dotted();
  padding: 5px 5px 0;
}

.quiz-report,
#edit-tries-answer {
  table {  
    border: 0;
    tr {
      .border-bottom-dotted();
      background-color: transparent;
    }
    td {
      .text-dark-grey();
      background-color: transparent;
      padding: 15px 15px;
      p {
        margin-bottom: 0;
        .bold(14px);
      }
    }
  }
}

.quiz-report table td{
  padding: 15px 15px 10px;
  vertical-align: top;
}

div.quiz-report {
  .dt{
    font-size: 14px;
    background: #f5f8f9;
    .text-blue();
    font-weight: bold;
    .border-bottom-dotted();
    .border-top-dotted();
    padding: 10px;
    span {
      display: inline;
      p {
        display: inline;
        margin: 0;
      }
    }
  }
  .dd {
    clear: both;
    margin-top: 0;
  }
}

#quiz_progress {
  .bold(14px);
  .text-orange();
  float: left;
  padding: 2px 10px;
}

.quiz-stat-popup {
  width: 21px;
  height: 21px;
  .bg-img('info-popup-link.png');
  cursor: pointer;
  float: left;
  &:hover {
    .bg-img('info-popup-link-hover.png');
  }
}

.quiz-stat {
  .stat-title {
    .gris();
  }
}

.multichoice-icon-cell {
  width: 20px;
  height: 20px;
}

.multichoice-icon {
  .bg-img('quiz-result-icons.png');
  height: 16px;
  width: 16px;
  &.wrong {
    background-position: 0 -18px;
  }
  &.should {
    background-position: 0 0;
  }
}

#quiz_score_possible {
  .bold(16px);
  margin-bottom: 20px;
  background: #f0f0f0;
  border-color: #e5e1e2;
  border-style: solid;
  padding: 10px;
  cursor: pointer;
  clear: both;
  .text-dark-grey();
  border-width: 1px;
  box-shadow: 0 1px 1px #EEEEEE;
  .summary {
    .right();
    font-size: 14px;
    em {
      font-style: normal;
    }
    .correct {
      color: #5f833c;
    }
    .wrong {
      color: #d0471b;
    }
  }
}

.view-course-questions {
  .view-filters{
    float: left;
    .views-exposed-form {
      .views-widget,
      label {
        float: left;
        padding-right: 10px;
      }
      .views-submit-button {
        padding: 0;
      }
    }
  }
  .attachment-before {
    float: right;
    .add-question {
      .link();
      .text-orange();
      .bold(14px);
      float: left;
      margin-top: 10px;
      .bg-img('ask-question.png');
      .link-image-left(20px);
    }
  }
}

.view-course-newsletter {
  .view-content {
    clear: both;
    .views-row {
      float: left;
      margin-bottom: 25px;
    }
  }
  .attachment-before {
    float: right;
    .add-blog {
      .link();
      .text-orange();
      .bold(14px);
      float: left;
      margin-top: 10px;
      .bg-img('ask-question.png');
      .link-image-left(20px);
    }
  }
  .field-group-stats {
    text-align: center;
    float: left;
    @media @normal { 
     .grid-normal-2();
    }
    @media @narrow {
     .grid-narrow-2();
    }
    @media @wide {
      .grid-wide-2();
    }
    .field-created {
      margin-top: 5px;
      .bold();
      .text-grey();
    }
    .field-answers-count {
      background-color: #F8F8F8;
      .text-blue();
      .bold(13px);
      padding: 7px 0;
      width: 75px;
      margin: 15px 0 15px 30px;
      &.zero {
        .gris();
      }
    }
  }
  .field-group-blog {
    float: left;
    @media @normal { 
     .grid-normal-10();
    }
    @media @narrow {
     .grid-narrow-10();
    }
    @media @wide {
      .grid-wide-10();
    }
    .field-author {
      margin-top: 10px;
    }
    .field-title {
      margin-bottom: 10px;
      a {
        .text-dark-grey();
        .bold(20px);     
        .link();
        &:hover {
          .text-orange();
        }
      }
    }
    .field-author {
      .text-blue();
      .font-bold();
      background-color: #F8F8F8;
      padding: 5px 10px;
      float: left;
    }
  }
}

/** Notifications view styles start **/

.view-notifications {
  padding-top: 24px;
  .bold(18px);
  p {
    font-size: 18px;
  }
  .view-header p {
    color: #d2491d;
  }
  .newsfeed-message-form {
    .form-submit {
      padding: 0;
      border: none;
    }
    .form-submit.progress-disabled {
      .bg-img('progress_orange.gif');
    }
  }
  .flag-message-read .flag,
  .views-field-ops .unflag-disabled {
    .left();
    width: 20px;
    height: 20px;
    .bg-img('message-status.png');
    margin: 0px 15px 0px 0px;
    color: transparent;
    font-size: 0;
  }
  .flag-message-read .unflag-action,
  .views-field-ops .unflag-disabled {
    background-position: -22px;
  }
  .views-field-timestamp {
    .left();
    color: #7b7b7b;
    margin-right: 9px;
  }
  h3 {
    margin: 0;
    .unread {
       padding-top: 25px;
      .border-top-dotted();
    }
    .read {
      float: none;
      background: none;
      width: 100%;
      height: 0;
      border-bottom: 1px dotted #aeaeae;
      margin-bottom: 25px;
      .show(inline-block);
    }
  }
  .views-field-message-render {
    .left();
    @media @narrow {
      width: 566px;
    }
    @media @normal {
      width: 805px;
    }
    @media @wide {
      width: 1030px;
    }
    @media @mobile {
      width: 100%;
    }
    .status-read {
      color: #7b7b7b;
      a:link, a:visited {
        color: #7a97b7;
        .link();
      }
      a:hover {
        border-bottom: 2px solid #7a97b7;
      }
    }
    .status-unread {
      a:link, a:visited {
        color: #3c6899;
        .link();
      }
      a:hover {
        border-bottom: 2px solid #3c6899;
      }
    }
    p {
      word-wrap: break-word;
    }
  }
}

/** Notifications view styles end **/

/** Annoucement page css start **/
#node-newsletter-wrapper {
  .node-newsletter-author-section {
    text-align: center;
    .node-newsletter-created {
      .bold(18px);
      .text-grey();
      padding: 10px 0;
    }
    .node-newsletter-picture-points {
      padding: 10px 43px 0;
    }
    .author-points {
      left: 80px;
      top: 80px;
    }
  }
  .node-author {
    .text-blue();
    .font-bold();
    background-color: #F8F8F8;
    padding: 5px 10px;
    float: left;
    & > div {
      float: left;
      padding-right: 5px;
    }
  }
  .node-newsletter-body {
    margin-left: 20px;
    h1.title {
      margin-bottom: 10px;
    }
  }
}
/** Annoucement page css end **/
