/* reusable mixins for other less files */

@narrow: ~"all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape)";
@normal: ~"all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape)";
@wide: ~"all and (min-width: 1220px)";


.hide() {
   display: none;
}

.show(@type: block) {
 display : @type;
}

.gradient-orange() {
    background: #dc5128; /* Old browsers */
    background: -moz-linear-gradient(top,  #dc5128 0%, #c94213 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc5128), color-stop(100%,#c94213)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dc5128 0%,#c94213 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dc5128 0%,#c94213 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dc5128 0%,#c94213 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dc5128 0%,#c94213 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc5128', endColorstr='#c94213',GradientType=0 ); /* IE6-9 */
}

.gradient-light-orange() {
    background: #f54900; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff4e00 0%, #e24000 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top,  #ff4e00 0%, #e24000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff4e00 0%, #e24000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff4e00 0%, #e24000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff4e00 0%, #e24000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4e00', endColorstr='#e24000',GradientType=0 ); /* IE6-9 */
}

.gradient-disabled() {
    background: #f1f1f1; /* Old browsers */
    background: -moz-linear-gradient(top,  #f1f1f1 0%, #dcdcdc 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top,  #f1f1f1 0%, #dcdcdc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f1f1f1 0%, #dcdcdc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f1f1f1 0%, #dcdcdc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f1f1f1 0%, #dcdcdc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
}

.striped-progressbar() {
  background-color: #1E7A9A;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-size: 26px 27px;
}

.gradient-progressbar() {
  width: 100%;
  opacity: 0.2;
  background-image: -webkit-gradient(to right,  #ffffff 30%, #1E7A9A 70%);
  background-image: -webkit-linear-gradient(to right,  #ffffff 30%, #1E7A9A 70%);
  background-image: -moz-linear-gradient(to right,  #ffffff 30%, #1E7A9A 70%);
  background-image: -ms-linear-gradient(to right,  #ffffff 30%, #1E7A9A 70%);
  background-image: -o-linear-gradient(to right,  #ffffff 30%, #1E7A9A 70%);
  background-image: linear-gradient(to right,  #ffffff 30%, #1E7A9A 70%);
}

.cke-main-panel-blue() {
  background-image: -webkit-linear-gradient(top,#fbfcfc,#e9edf1);
  background-image: -moz-linear-gradient(to bottom,  #fbfcfc, #e9edf1);
  background-image: -ms-linear-gradient(to bottom,  #fbfcfc, #e9edf1);
  background-image: -o-linear-gradient(to bottom,  #fbfcfc, #e9edf1);
  background-image: linear-gradient(to bottom,  #fbfcfc, #e9edf1);
}

.cke-tools-panel-blue() {
  background-image: -webkit-linear-gradient(top,#ffffff,#f3f5f7);
  background-image: -moz-linear-gradient(to bottom,  #ffffff, #f3f5f7);
  background-image: -ms-linear-gradient(to bottom,  #ffffff, #f3f5f7);
  background-image: -o-linear-gradient(to bottom,  #ffffff, #f3f5f7);
  background-image: linear-gradient(to bottom,  #ffffff, #f3f5f7);
}

.cke-main-panel-light-grey() {
  background-image: -webkit-linear-gradient(top,#ffffff,#ececed);
  background-image: -moz-linear-gradient(to bottom,  #ffffff, #ececed);
  background-image: -ms-linear-gradient(to bottom,  #ffffff, #ececed);
  background-image: -o-linear-gradient(to bottom,  #ffffff, #ececed);
  background-image: linear-gradient(to bottom,  #ffffff, #ececed);
}

.cke-tools-panel-light-grey() {
  background-image: -webkit-linear-gradient(top,#fefefe,#f5f5f5);
  background-image: -moz-linear-gradient(to bottom,  #fefefe, #f5f5f5);
  background-image: -ms-linear-gradient(to bottom,  #fefefe, #f5f5f5);
  background-image: -o-linear-gradient(to bottom,  #fefefe, #f5f5f5);
  background-image: linear-gradient(to bottom,  #fefefe, #f5f5f5);
}


.button() {
      margin-top: 2px;
      padding: 5px 20px;
      float: right;
      position: relative;
      font-size: 15px;
      font-weight: bold;
      text-shadow: 0 0 transparent;
      color: #fff;
      text-decoration: none;
      .RoundedShape(3px);
}

.edit-submit() {
  margin-top: 9px;
  padding: auto 20px;
  float: right;
  position: relative;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0 0 transparent;
  color: #fff;
  .RoundedShape(3px);
}

.orange-button() {
      .button();
      .gradient-orange();
}

.light-orange-button() {
  .button();
  .gradient-light-orange();
}

.text-orange() {
  color: #ce4619;
}

.text-blue() {
  color: #435d7b;
}

.text-grey() {
  color: #565656;
}

.text-dark-grey() {
  color: #333333;
}

.text-light-grey() {
  color: #4c4c4c;
}

.text-blue-grey() {
  color: #3d3d3d;
}

.caption-orange() {
  color: #cc3300 !important;
}

.gris() {
  color: #b5b5b5;
}

.menu-float() {
    float: left;
    list-style: none;
    margin: 0px;
}

.link() {
    text-decoration: none;
}

.reset-div() {
    margin: 0px;
    padding: 0px;
}
.middle-cell() {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
}

.border-bottom-dotted() {
    border-bottom: 1px dotted #aeaeae;
}

@border-1: solid 1px;

@border-cke-blue: 1px solid #dbe2e9;

@border-cke-light-grey: 1px solid #e1e1e2;

.font-bold() {
  font-weight: bold;
}

.RoundedShape(@radius:@defaultRadius) {
    -webkit-border-radius:@radius;
    -moz-border-radius:@radius;
    border-radius:@radius;
}

.main-menu-border() {
  border: 3px solid transparent;
  border-image: url(../images/line-main-menu.png) 0 3 stretch;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  height: 17px;
  padding: 8px 20px 6px 20px;
  margin: 7px 0px 0px 0px;
}

.main-menu-link() {
  color: #fadfd6;
  text-decoration: none;
}

.font() {
  font-family: Arial;
}
.width-auto() {
  width: auto;
}
.right() {
  float: right;
}
.left() {
  float: left;
}
.table() {
  display: table;
}
.cell() {
  display: table-cell;
}
.bold(@size: 14px) {
  font: bold @size Arial;
}
.box-shadow() {
  -moz-box-shadow: 0px 0px 1px 0px #888;
  -webkit-box-shadow: 0px 0px 1px 0px #888;
  box-shadow: 0px 0px 1px 0px #888;
}

.view-block-header() {
  height: 36px;
  background-color: #f8f8f8;
  .box-shadow();
  margin-bottom: 8px;
  .RoundedShape(1px);
  .bold(18px);
  color: #383838;
}

.link-image-left(@padding: 16px) {
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: @padding;
}

.quicktabs-border() {
  border-top: 1px solid #d2d2d2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d2d2d2), to(#ffffff));
  background-image: -webkit-linear-gradient(#d2d2d2, #ffffff);
  background-image: -moz-linear-gradient(#d2d2d2, #ffffff), -moz-linear-gradient(#d2d2d2, #ffffff);
  background-image: -o-linear-gradient(#d2d2d2, #ffffff), -o-linear-gradient(#d2d2d2, #ffffff);
  background-image: linear-gradient(#d2d2d2, #ffffff), linear-gradient(#d2d2d2, #ffffff);
  -moz-background-size: 1px 100%;
  background-size: 1px 100%;
  background-position:0 0, 100% 0;
  background-repeat: no-repeat;
}
.class-progress-parameters(@size-x: 1px, @size-y: 100%, @position-x-1: 97%, @position-y-1: 0%, @position-x-2: 100%, @position-y-2: 0%, @repeat: no-repeat) {
  background-size: @size-x @size-y;
  background-position: @position-x-1 @position-y-1, @position-x-2 @position-y-2;
  background-repeat: @repeat;
}

.class-progress-image() {
  background-image: linear-gradient(#b0c39c, #b0c39c), linear-gradient(#b0c39c, #b0c39c);
  background-image: -webkit-linear-gradient(#b0c39c, #b0c39c), -webkit-linear-gradient(#b0c39c, #b0c39c);
  background-image: -moz-linear-gradient(#b0c39c, #b0c39c), -moz-linear-gradient(#b0c39c, #b0c39c);
  background-image: -o-linear-gradient(#b0c39c, #b0c39c), -o-linear-gradient(#b0c39c, #b0c39c);
}

.class-progress-comleted() {
  background-image: linear-gradient(to right, #b0c39c, #b9d69d);
  background-image: -webkit-linear-gradient(right, #b0c39c, #b9d69d);
  background-image: -moz-linear-gradient(to right, #b0c39c, #b9d69d), -moz-linear-gradient(to right, #b0c39c, #b9d69d);
  background-image: -o-linear-gradient(to right, #b0c39c, #b9d69d), -o-linear-gradient(to right, #b0c39c, #b9d69d);
}

.class-progress-current() {
  background-image: -webkit-linear-gradient(-45deg, rgba(162, 192, 129, 0.8) 18%, transparent 18%, transparent 50%, rgba(162, 192, 129, 0.8) 50%, rgba(162, 192, 129, 0.8) 80%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(162, 192, 129, 0.8) 23%, transparent 25%, transparent 50%, rgba(162, 192, 129, 0.8) 50%, rgba(162, 192, 129, 0.8) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(162, 192, 129, 0.8) 18%, transparent 18%, transparent 50%, rgba(162, 192, 129, 0.8) 50%, rgba(162, 192, 129, 0.8) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(162, 192, 129, 0.8) 18%, transparent 18%, transparent 50%, rgba(162, 192, 129, 0.8) 50%, rgba(162, 192, 129, 0.8) 75%, transparent 75%, transparent);
}


.cancel-action() {
      float: right;
      padding: 0 10px;
      a {
        color: #555;
        text-decoration: none;
        font-size: 15px;
        float: left;
        font-weight: bold;
        padding: 7px 0;
      }
      a:hover {
        .text-orange();
      }
}