/**
 * @file
 * contains less css for modal forms and windows
 */

div.ctools-common-modal-content {
 
  background: none;
  border: 0;
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: left;
  box-shadow: 2px 2px 7px #333;
 
  .modal-scroll {
    overflow: hidden;
    overflow-y: auto;
  }
  #popups-overlay {
    background-color: transparent;
  }
  #popups-loading {
    width: 248px;
    position: absolute;
    display: none;
    opacity: 1;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    z-index: 99;
    span.popups-loading-message {
      background: #FFF url(../images/loading-large.gif) no-repeat 8px center;
      .show(block);
      color: #444444;
      .bold(22px);
      height: 36px;
      line-height: 36px;
      padding: 0 40px;
    }
  }
  .popups-box,
  #popups-loading {
    border: 0px solid #454545;
    opacity: 1;
    overflow: hidden;
    padding: 0;
    background-color: transparent;
  }
  .popups-container {
    overflow: hidden;
    height: 100%;
    background-color: #fff;
  }
 
  .popups-body {
    background-color: #fff;
    padding: 8px;
  }
  .popups-box .popups-buttons,
  .popups-box .popups-footer {
    background-color: #fff;
  }
  
  .course-title {
    border-bottom: 1px dotted #CCCCCC;
    color: #555555;
    font-weight: bold;
    padding: 10px;
  }
  .course-actions {
    float: right;
    width: 100%;
    margin-top: 10px;
    .course-exit-action {
      float: right;
      a {
        .button-submit();
      }
    }
    .course-cancel-action {
      .link-cancel() ;
    }
  }
  .resizable-textarea {
    margin: 0;
    float: left;
    textarea {
      border: 1px solid #ddd;
    }
    .grippie {
      display: none;
    }
  }

  #edit-field-abuse-reason select {
    width: 100%;
    border: 1px solid #DDDDDD;
  }

  #flag-confirm #edit-cancel {
    visibility: hidden;
  }

  .form-actions.form-wrapper {
    border-top: 1px dotted #ddd;
    padding-top: 10px;
  }

  .form-submit {
    margin-right: 0;
  }
}

.popups-title {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  line-height:33px;
  color: #555;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  .modal-title {
    color: #555;
  }
  .close {
    color: transparent; 
    .bg-img('close.png');
    background-position: center center;
    width: 33px;
    &:hover {
      .bg-img('close_hover.png');
    }
  }
}

.popups-close {
  width: 33px;
  float: right;
  border-left: 1px solid #ddd;
}

.modal-content {
  padding: 1em 1em 0 1em;
  .clearfix();
}

#modalContent {
  top: 100px !important;
  position: fixed !important;
}

#modal-throbber {
  height: 60px;
  width: 100%;
  .show(table);
}

.modal-throbber-wrapper {
  .show(table-cell);
  vertical-align: middle;
  text-align: center;
}
