
/**
 * @file
 * contains less css for quicktabs
 */


.ui-tabs .ui-tabs-nav li {
  background: @light-gray;
  border: 0;
}

.quicktabs-ui-wrapper.ui-tabs {
  padding: 0;
  border: 0;
  .ui-tabs-nav {
    padding: 0;
    border: 0;
    background: transparent;
    .border-bottom-dotted();
    li {
      .quicktabs-border();
      .bold(14px);
      margin-right: 10px;
      .RoundedShape(0px);
      width:160px;
      @media @narrow {
        .grid-narrow-4();
      }
      @media @normal {
        width: 213px;
      }
      @media @wide {
        .grid-wide-4();
      }
      a {
        font-weight: bold;
        width: 100%;
        padding: 12px 0px;
        text-align: center;
      }
    }
    .ui-state-active,
    .ui-state-hover {
      background: #ffffff;
      .quicktabs-border();
      a {
        .text-orange;
      }
    }
  }
  .ui-widget-content {
    padding: 1em 0;
  }
}
