/* Home page */

.front .title {
  display: none;
}


.view-front-page-slider {
    display: none;
}

.front .view-front-page-slider .views-field-body {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
}

/* Product details page */

.page-product-details .region-content h1.title {
  display: none;
}


.view-shopfront-product-features ul {
  list-style-type: none;
}


.page-product-details .ui-tabs-nav {
  border-radius: 0;
}


.view-product-feature-icon {
  display: none;
}

.view-product-feature-title {
  float: left;
  clear: right;
  font-size: 2.5em;
  color: #CE4619;
}

.view-product-feature-body {
  clear:both;
}

.view-shopfront-documents {
  margin-top:42px;
}

.view-documents-preview {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  
  box-shadow: 1px 1px 1px #DDD;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(228,228,228);
}

.view-documents-link {
   margin-top: 30px;
   text-align: center;
}

.view-documents-link a:link,
.view-documents-link a:visited {
  text-decoration: none;
  color:rgb(216,41,11);
  font-size: 1.2em;
  font-weight: bolder;
}

.view-documents-link {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

/* styles for webform node fields on demo request page */
.webform-action-call {
  background-color: rgb(247, 247, 247);
  
}

.webform-action-call .field-name-field-image {
  padding:0 40px;
  width: 50%;
  margin: auto;
}

.webform-action-call .field-name-field-phone-number {
  color: rgb(255, 40, 12);
  font-size: 3em;
  text-align: center;
  line-height: 4em;
  font-weight: bolder;
}

.field-name-field-call-invitation{
  color: rgb(59, 59, 59);
  text-align: center;
  font-size: 2em;
  padding-top:1em;
  line-height: 3em;
}

.webform-moto {
  margin-top: 20px;
  background-color: rgb(247, 247, 247);
  text-align: center;
  color: rgb(15, 56, 76);
  font-size: 1.4em;
  padding:45px 20px 45px 20px;
}

.node-type-webform .messages {
  display: none;
}
